#show_options:not(:checked) ~ div#options {
    display:none;
  }


#infos{
  padding:10px;
  background:#dedede;
  display:none;
}

#autres{
  margin-top:20px;
  font-style:italic;
}

.error_info{
  color:red;
}

label{
  font-weight: bold;
}